<div id="<?$_name?>" class="item mainItem">
	<h2>Welcome <?customer?>Customer<?/customer?>,</h2>
	<table style="border:0px">
		<tr>
			<th><h5>Plot Number</h5></th><td><?plot?>Plot<?/plot?></td><td>In Planning </td><td><?planning?>--<?/planning?></td>
		</tr>
		<tr>
			<td>Purchase Date</td><td><?sales_date?>Sales_date<?/sales_date?></td>
			<td>Due Booking Amount</td><td><?due_booking_amount?>Due Booking Amount<?/due_booking_amount?></td>
		</tr>
		<tr>
			<td>Over Due Emi</td><td><?over_due_emi?>OVer due Emi<?/over_due_emi?></td><td>Next Emi Date</td><td><?next_emi_date?>Next Emi Date<?/next_emi_date?>
		</tr>
		<tr>
			<td colspan="2">Amount To Be Submitted</td><td colspan="2"><?amount_to_be_submitted?>Amount Submit<?/amount_to_be_submitted?></td>
		</tr>
	</table>
</div>