<div id="<?$_name?>" class="item mainItem">
	<h2>Welcome <?customer?>Customer<?/customer?>,</h2>
	<table style="border:0px">
		<tr>
			<th><h5>Plot Number</h5></th><td><?plot?>Plot<?/plot?></td><td>In Planning </td><td><?planning?>--<?/planning?></td>
		</tr>
		<tr>
			<td>Purchase Date</td><td><?sales_date?>Sales_date<?/sales_date?></td>
			<td>Due Booking Amount</td><td><?due_booking_amount?>Due Booking Amount<?/due_booking_amount?></td>
		</tr>
		<tr>
			<td>Over Due Emi</td><td><?over_due_emi?>OVer due Emi<?/over_due_emi?></td><td>Next Emi Date</td><td><?next_emi_date?>Next Emi Date<?/next_emi_date?>
		</tr>
		<tr>
			<td colspan="2">Amount To Be Submitted</td><td colspan="2"><?amount_to_be_submitted?>Amount Submit<?/amount_to_be_submitted?></td>
		</tr>
	</table>
<h2>Your Current Leg Position</h2>
	<table>
		<tr>
			<td>Leg A</td><td><?LegA?>Empty<?/LegA?></td>
		</tr>
		<tr>
			<td>Leg B</td><td><?LegB?>Empty<?/LegB?></td>
		</tr>
		<tr>
			<td>Leg C</td><td><?LegC?>Empty<?/LegC?></td>
		</tr>
		<tr>
			<td>Leg D</td><td><?LegD?>Empty<?/LegD?></td>
		</tr>
	</table>
	<h2>Your Current Payout Status</h2>
	<table>
		<tr>
			<td>Introduction Income</td><td><?Introduction_Income?>Empty<?/Introduction_Income?></td>
		</tr>
		<tr>
			<td>Level 1</td><td><?Level_1_Commission?>Empty<?/Level_1_Commission?></td>
		</tr>
		<tr>
			<td>Level 2</td><td><?Level_2_Commission?>Empty<?/Level_2_Commission?></td>
		</tr>
		<tr>
			<td>Level 3</td><td><?Level_3_Commission?>Empty<?/Level_3_Commission?></td>
		</tr>
		<tr>
			<td>Level 4</td><td><?Level_4_Commission?>Empty<?/Level_4_Commission?></td>
		</tr>
		<tr>
			<td>Level 5</td><td><?Level_5_Commission?>Empty<?/Level_5_Commission?></td>
		</tr>
	</table>
</div>