<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="autor" content="Breezy New Media (info@breezy.cz)" />
<meta name="copyright" content="DeepBlue - free luxury website template 2008" />
<meta name="description" content=""  />
<meta name="keywords" content="" />
<title>Welcome To SOMI Land Developers Pvt. Ltd.</title>
<!-- <link rel="stylesheet" href="../themes/default/default.css" type="text/css" media="screen" /> -->
<link rel="stylesheet" href="<?template?>themes/light/light.css<?/?>" type="text/css" media="screen" />
<link rel="stylesheet" href="<?template?>themes/dark/dark.css<?/?>" type="text/css" media="screen" />
<link rel="stylesheet" href="<?template?>themes/bar/bar.css<?/?>" type="text/css" media="screen" />
<link rel="stylesheet" href="<?template?>css/nivo-slider.css<?/?>" type="text/css" media="screen" />
<link rel="stylesheet" href="<?template?>themes/default/default.css<?/?>" type="text/css" media="screen" />
<link rel="stylesheet" href="<?template?>css/style.css<?/?>" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>" />
<link rel="stylesheet" type="text/css" href="<?template?>css/atk-main.css<?/?>" />
<link rel="stylesheet" type="text/css" href="<?template?>css/atk-custom.css<?/?>" />
<link rel="stylesheet" type="text/css" href="<?template?>css/default.css<?/?>" media="screen" />
<link rel="stylesheet" type="text/css" href="./css/print.css" media="print" />
<?$js_include?>
<script type="text/javascript" src="<?template?>css/jquery.nivo.slider.js<?/?>"></script>
    <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="<?template?>css/ie8.css<?/?>"/>
      <script type="text/javascript" src="<?template?>css/ie8.js<?/?>"></script>
    <![endif]-->

    <script type="text/javascript">
      $(function(){
        <?$document_ready?>
      });
    </script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

</head>
<body>

<div id="view">
  <!-- #header (main heading + logo with slogan) -->
  
  <div id="head">
    <!-- main headings with search component -->
    <div id="main">
      <h1><a href="">SOMI</a></h1>
      <h2><a href="">Somi Land Developers Pvt Ltd.</a></h2>
      <form action="" method="post" id="search">
        <fieldset>
          <input type="text" name="" value="search" class="button" />
          <input type="submit" value="" title="Search" class="submit" />
        </fieldset>
      </form>
    </div>
    <!-- /main headings with search component -->
    <hr class="hidden" />
    <!-- main horizontal menu -->
    <div id="mainMenu">
      <?Menu?>
      <ul>
        <li><a href="">LINK 01<span></span></a></li>
        <li class="active"><a href="#content">LINK 02<span></span></a></li>
        <li><a href="">LINK 03<span></span></a></li>
        <li><a href="">LINK 04<span></span></a></li>
        <li class="fr"><a href="">BLOG<span></span></a></li>
        <li class="fr"><a href="">TERMS<span></span></a></li>
      </ul>
      <?/Menu?>
    </div>
    <!-- /main horizontal menu -->
    <!-- <hr class="hidden" /> -->
    <!-- logo with slogan -->
        <div class="slider-wrapper theme-default">
            <div id="slider" >
                <img src="<?template?>images/toystory.jpg<?/?>" data-thumb="images/toystory.jpg" alt="" />
                <img src="<?template?>images/1.jpg<?/?>" data-thumb="images/1.jpg" alt="" title="" />
                <img src="<?template?>images/2.jpg<?/?>" data-thumb="images/2.jpg" alt="" data-transition="slideInLeft" />
                <img src="<?template?>images/3.jpg<?/?>" data-thumb="images/3.jpg" alt="" title=""/>
                <img src="<?template?>images/4.jpg<?/?>" data-thumb="images/4.jpg" alt="" title=""/>
                <img src="<?template?>images/5.jpg<?/?>" data-thumb="images/5.jpg" alt="" title=""/>
            </div>
            
        </div>
    
    <!-- /logo with slogan -->
    <!-- <hr class="hidden" /> -->
  </div>
  <!-- /#header (main heading + logo with slogan) -->
  
  <!-- #main content construct -->
  <div id="content">
    <!-- #left part of web - main content -->
    <div id="contentBlock">
      <?Content?>
      <!-- #first (main) article -->
      <div class="item mainItem">
        <h2>Welcome To SOMI Land Developers Private Ltd.</h2>
        <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        <p class="perex">Lorrem ipsum dolor sit amet, consectetuer adipiscing elit. Cras egestas, enim vitae viverra rhoncus, ligula massa interdum orci, vel imperdiet erat neque eu sem. Vivamus quis mauris. Sed mollis ligula mollis lorem. Pellentesque commodo, felis in dictum adipiscing, dolor neque congue risus, at ultrices lectus tortor et pede. Cras egestas, enim vitae viverra rhoncus, ligula massa interdum orci, vel imperdiet. Pellentesque commodo, felis in dictum adipiscing</p>
      </div>
      <!-- /#first (main) article -->
      
      <!-- #cols 50:50 -->
      <div class="col1">
        <div class="item itemOdd">
          <h3>Article</h3>
          <p class="perex">Lorrem ipsum dolor sit amet, consectetuadipiscing elit. Cras egestas, enim  vitae viverra rhoncus</p>
          <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        </div>
        <div class="item itemEven">
          <h3>Article</h3>
          <p class="perex">Lorrem ipsum dolor sit amet, consectetuadipiscing elit. Cras egestas, enim  vitae viverra rhoncus</p>
          <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        </div>
        <div class="item itemOdd last">
          <h3>Article</h3>
          <p class="perex">Lorrem ipsum dolor sit amet, consectetuadipiscing elit. Cras egestas, enim  vitae viverra rhoncus</p>
          <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        </div>
      </div>
      <div class="col2">
        <div class="item">
          <h3>Article</h3>
          <p class="perex">Lorrem ipsum dolor sit amet, consectetuadipiscing elit. Cras egestas, enim  vitae viverra rhoncus</p>
          <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        </div>
        
        <a href=""><img src="img/image.jpg" width="102" alt="" class="left" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="right" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="left" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="right" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="left" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="right" /></a>
      </div>
      <!-- /#cols 50:50 -->
      <?/Content?>
    </div>
    <!-- /#left part of web - main content -->
   
    <!-- #right part of web - submenu boxes with simple text -->
  
    <!-- /#right part of web -->
  </div>
  <!-- /#main content construct -->
  
  <!-- #accessible components - do not delete this !!! -->
 
  <!-- #footer -->
  <div id="foot">
    <p class="fl">&copy; all rights reserved: SOMI Land Developers Private Ltd.</p> <p style="float:right"> Designed and Developed by <a href='http://www.xavoc.com' target="_blank">Xavoc International</a></p>
    
    <!-- /#   LINKS AND AUTHOR-SIGNATURE CANNOT BE REMOVED !!! -->
    
  </div>
  <!-- /#footer -->
</div>

</body>
</html>
