<div class="item mainItem">
        <h2>About Us </h2>
        <p class="perex" text-align="justify">"We believe what we commit"
          
          We Believe in quality and highly skilled professional's so that quality & committed work can be delivered to the society.
          
          Our philosophy is to Provide Quality Planning , Organic Environment and Design An Architectural Structure that brings added value to each and everyone.
          
          We individually take a personal pride of ownership in each of our designs. This simple mantra is what sets as apart.
          
          <span>SOMI</span> has been unlocking the door to special real estate creations with some of the finest life space that you will love to be in!!
          We aim to make a genuine contribution towards our customers wealth and well-being .
          We firmly believe that the active pursuit of professional sustainability in fundamental to what it stand for as a group.
          We are developer of retail, multifamily & mixed used projects on behalf of investment partnership all of which include or principles.
          We acquire well located location assets with Good Development Potential. 
    </p>
      </div>
      <!-- /#first (main) article -->
      
      <!-- #cols 50:50 -->
      