<div class="item mainItem">
        <h2>Main Article</h2>
        <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        <p class="perex">Lorrem ipsum dolor sit amet, consectetuer adipiscing elit. Cras egestas, enim vitae viverra rhoncus, ligula massa interdum orci, vel imperdiet erat neque eu sem. Vivamus quis mauris. Sed mollis ligula mollis lorem. Pellentesque commodo, felis in dictum adipiscing, dolor neque congue risus, at ultrices lectus tortor et pede. Cras egestas, enim vitae viverra rhoncus, ligula massa interdum orci, vel imperdiet. Pellentesque commodo, felis in dictum adipiscing</p>
      </div>
      <!-- /#first (main) article -->
      
      <!-- #cols 50:50 -->
      <div class="col1">
        <div class="item itemOdd">
          <h3>Article</h3>
          <p class="perex">Lorrem ipsum dolor sit amet, consectetuadipiscing elit. Cras egestas, enim  vitae viverra rhoncus</p>
          <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        </div>
        <div class="item itemEven">
          <h3>Article</h3>
          <p class="perex">Lorrem ipsum dolor sit amet, consectetuadipiscing elit. Cras egestas, enim  vitae viverra rhoncus</p>
          <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        </div>
        <div class="item itemOdd last">
          <h3>Article</h3>
          <p class="perex">Lorrem ipsum dolor sit amet, consectetuadipiscing elit. Cras egestas, enim  vitae viverra rhoncus</p>
          <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        </div>
      </div>
      <div class="col2">
        <div class="item">
          <h3>Article</h3>
          <p class="perex">Lorrem ipsum dolor sit amet, consectetuadipiscing elit. Cras egestas, enim  vitae viverra rhoncus</p>
          <p class="info"><span class="date">01. 01. 2008</span> - <a href="">article tag</a> - <a href="">18 comments</a></p>
        </div>
        
        <a href=""><img src="<?template?>img/image.jpg<?/?>" width="102" alt="" class="left" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="right" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="left" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="right" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="left" /></a>
        <a href=""><img src="img/image.jpg" width="102" alt="" class="right" /></a>
      </div>